.filament-check-ssl-widget-header {
    margin-bottom: 1rem;
}

.filament-check-ssl-widget-title {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #111827;
}

html.dark .filament-check-ssl-widget-title {
    color: white;
}

.filament-check-ssl-widget-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
}

html.dark .filament-check-ssl-widget-icon {
    color: white;
}

.filament-check-ssl-widget-description {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #4B5563;
}

.filament-check-ssl-widget-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .filament-check-ssl-widget-content.md\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }

    .filament-check-ssl-widget-content.md\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

.filament-check-ssl-widget-content-domain {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.375rem;
    background-color: #F3F4F6;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

html.dark .filament-check-ssl-widget-content-domain {
    background-color: #1F2937;
}

.filament-check-ssl-widget-content-domain-name {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

html.dark .filament-check-ssl-widget-content-domain-name {
    color: white;
}

.filament-check-ssl-widget-content-domain-name > img {
    margin-right: 6px;
    width: 24px;
}

.filament-check-ssl-widget-content-domain-name > small {
    margin-left: 4px;
}

.filament-check-ssl-widget-content-domain-certificate {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
}

html.dark .filament-check-ssl-widget-content-domain-certificate {
    color: white;
}

.filament-check-ssl-widget-content-domain-certificate > svg {
    margin-left: 8px;
}

.filament-check-ssl-widget-content-domain-certificate > .certificate-is-valid {
    color: green;
}

.filament-check-ssl-widget-content-domain-certificate > .certificate-is-not-valid {
    color: red;
}
